doctype html
html(lang="en")
    head
        title Home | Max Klopsch
    body
        h1 My Personal Website
        p Lorem ipsum dolor sit amet, ne nam fugit velit docendi. Ullum inciderint ad mel, cu quas quidam pericula his, in mei sale quidam conclusionemque. Nibh voluptua id has, dictas quaeque atomorum te mei. Id nam ubique fierent, pri mentitum adipisci ex, homero vituperatoribus te qui.
        p Dolorum nusquam ea cum. Ludus vituperata qui ex, mei id wisi munere. Usu hinc necessitatibus ad, in modo habeo eos. Sit augue dolore verterem ea, fugit dolores accusata eum ex.
        p
            a(href="/home") "Login"
            br
            a(href="/cards") Begin Flash Card Study