doctype html
html(lang="en")
    head
        title Home | Max Klopsch
    body
        h1 Max Klopsch | Portfolio
        p Hey, I'm Max! I'm a full-stack developer living in Nottingham, UK. JavaScript, PHP, Python. HTML, CSS, jQuery. NodeJS, Express, Pug, MySQL, MongoDB. Experience working with Magento 1.xx.
        p I'm available for junior developer positions and freelance projects.
        h2 Resume
        p 
            | Check out my
            a(href="") resume
            | to learn more about my experience!
        h2 Certifications, Qualifications, Achievements
        h2 Projects
        a(href="/four-in-a-row") Four in a row game
        p
            a(href="/home") "Login"
            br
            a(href="/cards") Begin Flash Card Study
        h2 Hire me
        p 
            | I would like to work as a junior developer for a company in the East Midlands, UK or remote. I am also available to work on freelance projects, e.g. creating custom websites for you or your business. Feel free to contact me using the
            a(hred="#footer") contact form
            | in the footer or reach out via
            a(href="#footer") social media
            | .
        footer#footer
            div Find me on
                a(href="https://www.linkedin.com/in/MaxKlopsch/") LinkedIn
                a(href="https://github.com/MaxKlopsch") GitHub

            div Contact me