body {
    margin: 0;
    color: #424242;
    background-color: #E0F2F1;
}

a, a:visited {
    color: #424242;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
}

main {
    width: 75%;
    margin: 0 auto 25px auto;
}

nav {
    padding: 0 12.5% 0 12.5%;
    background-color: #00695C;
    border-bottom: 3px solid #64FFDA;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.contact textarea {
    height: 100px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #00695C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #26A69A;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #B2DFDB;
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
}

footer {
    margin-top: 25px;
    background-color: #00695C;
    padding: 25px;
    text-align: center;
}

footer *, footer *:visited, nav *, nav *:visited {
    color: #fff;
}

#social {
    margin: 0 auto;
    width: max-content;
}

#social img {
    width: 40px;
}

#social ul {
    list-style: none;
    padding: 0;
}

#social li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    display: inline-block;
    padding: 5px;
}