html {
    font-size: 18px;
}

body {
    margin: 0;
    color: #424242;
    background-color: #E0F2F1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    line-height: 1.5rem;
}

a, a:visited {
    color: #00796B;
    text-decoration: none;
}

a:hover {
    color: #004D40;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
}

h1, h2 {
    text-align: center;
    margin-top: 0.8rem;
}

main h1::after, main h2::after {
    content: "";
    display: block;
    background-color: #80CBC4;
    height: 4px;
    width: 50px;
    margin: 5px auto 0 auto;
}

h3 {
    width: max-content;
}

main h3::after {
    content: "";
    display: block;
    background-color: #80CBC4;
    height: 2px;
    width: 100%;
    margin-top: 5px;
}

main {
    padding-top: 65px;
    flex: 1;
}

section {
    padding: 12px 12.5% 12px 12.5%;
    margin: 0 auto 0 auto;
}

nav {
    background-color: #00695C;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section:nth-of-type(2n) {
    background-color: #fff;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.contact textarea {
    height: 100px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #00695C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #26A69A;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #B2DFDB;
    padding: 10px 20px;
    width: 80%;
    margin: 20px auto 35px auto;
}

footer {
    background-color: #00695C;
    padding: 25px;
    text-align: center;
}

footer *, footer *:visited, nav *, nav *:visited {
    color: #fff;
}

#social {
    margin: 0 auto;
    width: max-content;
}

#social img {
    width: 40px;
}

#social ul {
    list-style: none;
    padding: 0;
}

#social li {
    display: inline-block;
    padding: 0 10px;
}

.nav a:hover {
    background-color: #B2DFDB;
    color: #212121;
}

.hamburger {
    justify-self: end;
    padding: 5px 20px 0 0;
}
.hamburgerSlice {
    width: 30px;
    height: 5px;
    background-color: #212121;
    border-radius: 3px;
    margin-bottom: 5px;
}

.brand {
    text-transform: uppercase;
}

.brand span {
    text-transform: capitalize;
    font-size: 0.8rem;
    display: block;
}

.hiddenMobile {
    display: none;
}

.nav {
    grid-column: 1 / 3;
}

.nav a {
    display: block;
    padding: 5px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.center {
    text-align: center;
}

@media (min-width: 769px) {
    main {
        padding-top: 85px;
    }

    .hamburger {
        display: none;
    }

    .contact {
        width: 50%;
    }

    .hiddenMobile {
        display: unset;
    }

    nav {
        padding: 15px;
    }

    .nav {
        grid-column: unset;
        justify-self: end;
        padding-right: 25px;
    }

    .nav a {
        display: inline-block;
        padding: 5px 15px;
    }
}