extends bookLayout

block content
  .main.container.text-center
    h1.display-3 Read &amp; Share Books
    p.lead Choose from our large collection of paid and free books!
    a.btn.btn-outline-info.btn-lg(href=`${baseUrl}/register`) Get Started for FREE


