extends bookLayout

block content
  .main.container.clearfix
    .row
      .col-md-8.offset-md-2
        h1.display-4
          img.avatar.rounded-circle.d-none.d-sm-block(src='/img/avatar.png', alt='avatar')
          | #{name}
        h2.favorite-book Favorite Book
        | #{favorite}