extends layout

block content
    section.namecard
        .namecard-login
            if name
                p.namecard-greeting Welcome, #{name}!
                form.namecard-exit(action="/cards/goodbye", method='POST')
                    button(type='submit')
                        img(src="/img/close.svg", alt="Logout")
            else
                p.namecard-greeting Hello, student!
        block intro
    block card