extends layout

block content
    section.desk
        h1= `${message} - Status: ${status}`
        img.desk-items(src="/img/desk.svg", alt="Desk")
        a.button-primary-small(href="/") Go Home
        .paper
            if stack
                pre.stack-trace #{stack}
        .tear