extends layout

block content
    main
        h1 Max Klopsch | Contact Me
        iframe(frameborder="0", style="border:0;width:100%;height:30vh;", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBW8fNw7yrsSjyRBeku3bcHNLFqteeink&q=Nottingham,UK", allowfullscreen)
        if sent === "error"
            h2 Unfortunately there was an error sending your message. Please try again later.
        if sent === true
            h2 Message was sent.
        else
            div.contact
                h2 Contact me
                form(method="POST", action="/contact")
                    label(for="name") Name
                    if name
                        input(type="text", id="name", name="name", placeholder="Your name", value=name, required)
                    else
                        input(type="text", id="name", name="name", placeholder="Your name", required)
                    label(for="email") Email
                    if email
                        input(type="email", id="email", name="email", placeholder="name@domain.com", value=email, required)
                    else
                        input(type="email", id="email", name="email", placeholder="name@domain.com", required)
                    label(for="phone") Phone
                    if phone
                        input(type="tel", id="phone", name="phone", placeholder="+44 12345 67891", value=phone)
                    else
                        input(type="tel", id="phone", name="phone", placeholder="+44 12345 67891")
                    label(for="message") Message
                    if message
                        textarea(id="message", name="message", placeholder="Your message goes here...", value=message, required)
                    else
                        textarea(id="message", name="message", placeholder="Your message goes here...", required)
                    input(type="submit", value="Submit")