extends layout

block content
    main
        h1 Max Klopsch | Resume
        section
            p
                | Download my 
                a(href="/docs/max-klopsch-resume.pdf") resume as a PDF
                |.
            h2 About me
            p Hey, I'm Max! I'm a full-stack developer living in Nottingham, UK. JavaScript, PHP, Python. HTML, CSS, jQuery. NodeJS, Express, Pug, MySQL, MongoDB. Experience working with Magento 1.xx.
            p I'm available for junior developer positions and freelance projects.
        section
            h2 Certifications, Qualifications, Achievements
            ul
                li BSc Aerospace Engineering @ TU Delft in Delft, Netherlands
                li Fundamentals of Digital Marketing Certification, Google Digital Garage
        section
            h2 Technologies
            ul
                li HTML
                li CSS
                    ul
                        li CSS Flexbox & Grid
                        li Bootstrap 3 & 4
                li JavaScript
                    ul
                        li jQuery
                        li Vue.js
                        li Node.js
                        li Express
                        li Unit Testing with 
                            a(href="https://mochajs.org/") Mocha
                            |  and 
                            a(href="https://www.chaijs.com/") Chai
                li PHP
                li Python
                li NPM
                li Gulp
                li SQL
                li Git/GitHub
                li Google Cloud Platform (GCP)/Amazon Web Services (AWS)
                    ul
                        li GCP Compute Engine (The website is hosted there and running a Node.js/Express server on Ubuntu.)
                        li GCP App Engine
                        li AWS S3
                li MongoDB Atlas
                li Visual Studio Code
                li Windows
                li Linux
                li Terminal
        section
            h2 Hire me
            p
                | I would like to work as a junior developer for a company in the East Midlands, UK or remote. I am also available to work on freelance projects, e.g. creating custom websites for you or your business. Feel free to contact me using the 
                a(href="#footer") contact form
                |  in the footer or reach out via 
                a(href="#footer") social media
                | .
            p
                | Download my 
                a(href="/docs/max-klopsch-resume.pdf") resume as a PDF
                |.