extends layout

block content
    main
        h1 Max Klopsch | Resume
        section
            p
                | Download my 
                a(href="/docs/max-klopsch-resume.pdf") resume as a PDF
                |.
            h2 About me
            p Hey, I'm Max! I'm a full-stack web developer living in Nottingham, UK.
            p I'm a natural problem-solver with a passion for online businesses and a keen interest in all things technological. I have the ability and experience needed to tackle complex challenges and find innovative solutions using my creativity. Recently I successfully launched and managed an ecommerce website within a fast paced and growing business.
            p Due to my curiosity I want to continuously learn more and improve my skills on the job and in my private life. I always keep myself up to date with current trends and I’m committed and enthusiastic about my own personal development and my career.
            p I am looking for a suitable opportunity that will take my career to the next level. I would like to join a team of like-minded developers in a business where personal growth is encouraged. I am committed to having a positive and lasting impact on the future of any company that I work for. I am also available for freelance projects.
        section
            h2 Certifications, Qualifications, Achievements
            ul
                li 
                    a(href="https://www.freecodecamp.org/certification/mklopsch/legacy-front-end") Front-end Web Development Certificate, Free Code Camp
                li CS50x: Introduction to Computer Science, Harvard University on edX
                li CS1301x Introduction to Computing using Python, Georgia Tech on edX
                li Fundamentals of Digital Marketing Certification, Google Digital Garage (
                    a(href="/docs/Max Klopsch - Google Digital Garage - The Fundamentals of Digital Marketing Certificate.pdf", title="Max Klopsch - Fundamentals of Digital Marketing Certification, Google Digital Garage") View certificate
                    | )
                li 
                    a(href="https://academy.exceedlms.com/profiles/maxklopsch0dd3f717") Google AdWords Certified Professional
                li Participant of the International Air Cadet Exchange (IACE) representing Germany in Israel during a 2-week exchange with focus on the Aviation Industry in July 2013
        section
            h2 Technologies
            div.tab-group
                div.tab
                    input(type="checkbox", name="tabs", checked)#tab-1
                    label(for="tab-1") Development
                    div.tab-content
                        ul
                            li HTML
                            li CSS
                                ul
                                    li CSS Flexbox & Grid
                                    li Bootstrap 3 & 4
                            li JavaScript
                                ul
                                    li jQuery
                                    li Vue.js
                                    li Node.js
                                        ul
                                            li Express
                                            li Pug/Jade
                                    li Unit Testing with 
                                        a(href="https://mochajs.org/") Mocha
                                        |  and 
                                        a(href="https://www.chaijs.com/") Chai
                            li PHP
                            li Python
                            li NPM
                            li Gulp
                            li SQL
                                ul
                                    li MySQL
                                    li SQLite
                            li Version Control
                                ul
                                    li Git/GitHub
                            li Deployment
                                ul
                                    li DeployHQ
                            li Google Cloud Platform (GCP)/Amazon Web Services (AWS)
                                ul
                                    li GCP Compute Engine (The website is hosted there and running a Node.js/Express server on Ubuntu.)
                                    li GCP App Engine
                                    li AWS S3
                            li Google Tag Manager
                            li Google Analytics
                            li Google AdWords
                            li Google Search Console
                            li MongoDB
                                ul
                                    li MongoDB Atlas
                            li Magento 1.xx (Front-end and back-end customisation, advanced user skills)
                            li Visual Studio Code
                            li Windows
                            li Linux
                            li Terminal
                            li Knowledge of Performance Optimization, optimising graphics for the Web,Responsive web design & Web Standards
                            li 3D Design and Graphic Design Software (CATIA, SketchUp, 3DS Max)
                div.tab
                    input(type="checkbox", name="tabs")#tab-2
                    label(for="tab-2") IT Skills
                    div.tab-content
                        ul
                            li Comfortable working with Microsoft & Android
                            li Experience with Microsoft and Google tools
                            li Salesforce user experience
                div.tab
                    input(type="checkbox", name="tabs")#tab-3
                    label(for="tab-3") Marketing
                    div.tab-content
                        ul
                            li SEO/SEM (AdWords, Merchant Center, Search Console, Semrush, Keyword research & competitor analysis, 404 monitoring, content strategy)
                            li Social Media Marketing (Post Creation, Ad Set-Up, Facebook, Instagram)
                            li E-Mail Marketing
                            li Content creation and management
                            li Campaign planning and execution
                            li Display Advertising (AdWords, Adroll)
                            li Affiliate Marketing (AWIN)
                            li Google Analytics
                            li Remarketing
                div.tab
                    input(type="checkbox", name="tabs")#tab-4
                    label(for="tab-4") Personal Skills
                    div.tab-content
                        ul
                            li Creative and strategic problem-solving
                            li Attention to detail
                            li Project Management skills
                            li Quick learner and adaptable
                            li Energetic and ambitious
                            li Communication (experience working with people of different backgrounds & professional levels)
                            li Industry awareness
                            li Able to organise own workload effectively and prioritise tasks
                            li Manage multiple project simultaneously & willingness to take ownership of projects
                            li Comfortable with being the ‘go to’ person in a company
        section
            h2 Work Experience
            p 
                strong Product Support Analyst
                |  @ Thomson Reuters, Nottingham, UK
            p September 2018 - Present
            p Providing support to customers for Thomson Reuters' ONESOURCE Statutory Reporting software (queries raised via telephone, email and remote support sessions). Tasks include:
            ul
                li Providing a combination of 1 st and 2 nd line support in both English and German Language
                li Accurate logging of product support requests, identifying the impact of the issue and providing the customer with confidence, that we will resolve their query in a timely manner
                li Where the issue requires escalation to the content or development teams, ensuring that the escalation is handled correctly and the customer is updated on the progress of the outstanding case
                li Update knowledge base with known issues, tips and workarounds as required
                li Maintain up to date product knowledge and share with team members
                li Support includes knowledge questions and product guidance, styling of Statutory Reports, checking of Statutory Reports for validity with HMRC, resolving error messages and debugging XML
                li Learning about Accounting fundamentals and studying towards the Association of Taxation Technicians (ATT) qualification
            p 
                strong Country Manager (Germany)
                |  - previously Marketing Manager @ Muscle Food, Nottingham, UK
            p July 2017 - August 2018
            ul
                li Launched and managed an online shop in Germany achieving over 8,000 customers in under 9 months and break-even
                li Ensured presence of the website online by performing online advertising, working on SEO, managing Social Media and creating campaigns
                li Localised the shop by adjusting the check-out flow, translation and managing out-of-house translators
                li Sole responsibility for management and development of the website front- and back-end using the Magento platform (HTML, CSS, JavaScript, JQuery, PHP, SQL)
                li Costing and pricing of offers and products and liaising with logistics, warehouse, finance, stakeholders and other departments on a daily basis
                li Supporting customers and using feedback to improve their experience, focusing on process optimisation, improving website performance and simplifying the UX
                li Working towards Food & Legal Compliance by adhering to legal requirements and standards, creating new food labels, etc.
            p 
                strong German eComm Customer Service Representative
                |  @ VF Northern Europe, Nottingham, UK
            p January 2016 - January 2017
            ul
                li Managed a wide variety and high volume of customer service and administrative tasks using Salesforce, effectively communicating with and supporting marketing, financial and administrative teams
                li Ensured superior customer experience by demonstrating empathy and resolving problems on the spot - escalated issues and provided solutions to improve efficiency and customer satisfaction
                li Utilised my self-motivation to take personal ownership of the development and implementation of a new order management platform increasing efficiency in the order process
                li Maintained a relentless focus on data confidentiality, safety / accuracy as well as sharing best practices, consistently receiving positive feedback
            h3 Previous Experience
            ul
                li 2-week internship at the German Aerospace Institute (DLR) where I tested and helped the introduction of a new transport modelling system
                li Part-time internship in an Environmental Analysis company helping with sample preparation
                li Part-time recruitment and communications role during University
                li Retail and restaurant experience
        section
            h2 Education
            p 
                strong B.Sc. in Aerospace Engineering
                |  @ TU Delft, Delft, Netherlands
            p August 2013 - April 2018
            ul
                li Research on LIDAR use in Wind Energy Generation
                li Project on preliminary design of an aircraft wing and landing gear
                li Design of a fuel-cell powered autonomous UAV
            p 
                strong Minor in Computer Science
                |  @ University of Sheffield, Sheffield, UK
            p September 2015 - January 2016
            ul
                li Development of a text-recognition software
                li Research on the use of 2D textures in 3D Computer Graphics
            h3 Previous Education
            p Graduated high school (Gymnasium) in Germany with average of 1.4 and award for performance in Physics.
            p Foreign Exchange Year in Des Moines, Iowa, USA in 2010 - 2011. Graduated with Highest Distinction and Award for Outstanding Performance in “Automotive Technology”.
        section
            h2 Languages
            ul
                li German - native
                li English - native-level
                li French - intermediate
                li Dutch - basic
        section
            h2 Volunteering
            p I regularly donate blood at the 
                a(href="https://www.blood.co.uk/the-donation-process/about-our-donation-venues/nottingham/") Nottingham Blood Donor Centre
                | . Please support them or your local Blood Donor Centre if you are able to!
        section
            h2 Hire me
            p
                | I would like to work as a junior developer for a company in the East Midlands, UK or remote. I am also available to work on freelance projects, e.g. creating custom websites for you or your business. Feel free to contact me using the 
                a(href="#footer") contact form
                |  in the footer or reach out via 
                a(href="#footer") social media
                | .
            p
                | Download my 
                a(href="/docs/max-klopsch-resume.pdf") resume as a PDF
                |.